# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
metadata
Temp
Library
obj
obj
Library
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-vs.csproj
Assembly-UnityScript.unityproj
Assembly-UnityScript-vs.unityproj
README.md
saltr-unity-sdk.sln
saltr-unity-sdk.userprefs
saltr-unity-sdk-csharp.sln
saltr-unity-sdk-csharp.v12.suo
Assembly-CSharp.csproj
/LICENSE.md.meta
/README.md.meta
/assets.meta
/src.meta
